
@keyframes spin {
    to { transform: rotate(360deg); }
}

.filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.date-picker-start-date,
.date-picker-end-date,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease-in-out;
    color: #333;
}
.react-datepicker{
    height:280px;
}

.date-picker-start-date:focus,
.date-picker-end-date:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    background-color: white;
}

select {
    cursor: pointer;
}

.dashboard-div {
    display: flex;
    flex-direction: column; 
    width: 90vw;
    max-width: 1200px; 
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logout-button, .action-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.logout-button {
    background-color: #dc3545;
    color: white;
}

.logout-button:hover {
    background-color: #c82333;
}

.action-button {
    background-color: #007bff;
    color: white;
}

.action-button:hover {
    background-color: #0056b3;
}