a {
  font-weight: 500;
  font-size: medium;
  color: white;
  text-decoration: inherit;
  /* text-justify: right; */
}

a:hover {
  color: #cccccc;
}

.nav-container {
  /* display: flex; */
  /* justify-content: center; Pushes all child items to the right */
}